<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">

        <div id="top-section" class="jumbotron">
            <div style="text-align: center">
                <img class="brand" src="images/hopping-rabbit-logo.gif" alt="Hopping Rabbit" />
            </div>
            <h1><i class="ion ion-social-github"></i> Github stats, made easier!</h1>
            <p>Hopping Rabbit offers you a visualization service for you Github repositories.</p>
            <p>To get a visualization, you just have to compile the following fields; then you'll be presented the chart figure and a link to include it in your pages or an iframe code (like the ones on YouTube) to present it directly into your website</p>
            <br />
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label"><i class="ion ion-social-github"></i> Github username: </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" placeholder="Your Github username" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="reponame" class="col-sm-3 control-label"><i class="ion ion-cube"></i> Repo name: </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="reponame" placeholder="Your repository name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="charttype" class="col-sm-3 control-label"><i class="ion ion-stats-bars"></i> Chart type: </label>
                    <div class="col-sm-9">
                        <select class="form-control" id="charttype">
                            <option value="bar">Bar chart</option>
                            <option value="pie">Pie chart</option>
                            <option value="donut">Donut chart</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" id="generate-chart" class="btn btn-success btn-lg"><i class="ion ion-flame"></i> Generate chart!</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="chart-section" class="jumbotron">
            <h2><i class="ion ion-ios7-pie"></i> Here is your beautiful chart</h2>
            <p id="chart-url"></p>
            <p style="font-size: 12px">
                Copy this code in your site: <code id="chart-code"></code>
            </p>
            <p id="chart-viz"></p>
        </div>

    </div>
</div>